PHPProject/vendor/
PHPProject/node_modules/
PHPProject/npm-debug.log
PHPProject/yarn-error.log

PHPProject/app/storage/
PHPProject/storage/

# Laravel 5 & Lumen specific
PHPProject/public/storage
PHPProject/public/hot

PHPProject/storage/*.key
PHPProject/.env
PHPProject//.vagrant
PHPProject/.phpunit.result.cache

.vscode/
.vs/